<div class="col-sm-12 pb-5" style="font-size: 11px;">

  <div class="row">

    <div class="col-sm-3">
      <h4>Telefone</h4>
      <div>{{appService.appData.profile.phone}}</div>
    </div>

    <div class="col-sm-3 mt-3 mt-sm-0">
      <h4>Email</h4>
      <div>{{appService.appData.profile.email}}</div>
    </div>

    <h4 class="col-sm-3 mt-3 mt-sm-0">
      <div>Me siga</div>
      <div class="mt-1"> <items-networks></items-networks> </div>
    </h4>

    <div class="col-sm-3 p-0 mt-3 mt-sm-0 text-center text-sm-left">
      <div class="col-sm-12">Política de Cookies  </div>
      <div class="col-sm-12">Política de Privacidade</div>
      <div class="col-sm-12"> © 2023 Por {{appService.appData.profile.name}}.</div>
      <div class="col-sm-12 mt-2">Orgulhosamente criado por {{appService.appData.profile.name}}</div>
    </div>

  </div>

</div>
