<div class="col-sm-12 text-center mt-5" (click)="onClickWa('5574988420307')">
  <button class="bt-w"> <icons-app [icon]="'whatsapp'"></icons-app> (74)98842-0307</button>
</div>

<!-- <div class="container p-5">
  <div class="row">
    <div class="col-sm-6">
      <label for="name">Nome</label>
      <input type="email" class="form-control" id="name" placeholder="Nome" />
    </div>

    <div class="col-sm-6">
      <label for="email">Email address</label>
      <input
        type="text"
        class="form-control"
        id="email"
        placeholder="email@examplo.com"
      />
    </div>

    <div class="col-sm-12 mt-3">
      <label for="text">Texto</label>
      <textarea
        type="text"
        class="form-control"
        id="text"
        placeholder="Texto..."
      ></textarea>
    </div>
  </div>

  <div class="mt-2 text-center">
    <button type="button" routerLink="curriculo" class="btn btn-primary mt-5">
    Enviar
  </button>
  </div>

</div> -->
