<div class="row d-flex">

  <div class="col-sm-7" style="align-self: center;">
    <div class="card">
      <h6>Para acessar o app disponibilizei os dados de um usuário para testes:</h6>
      <h6>Para simular o botão voltar pressione a telca <b>'ESC'</b></h6>
      <br>1° - Clique em entrar
      <br>2° - Insira os dados para fazer o login. <span style="color: gold;">Email: teste / Senha: teste</span>
      <br>3° - Clique em entrar
    </div>
  </div>

  <div class="col-sm-5">

    <a href="https://appmobile.projects.iagogaldino.dev.br/#/" target="_blank" class="btn btn-primary bt mt-5"> Acessar aplicativo </a>

    <div class="admob" style="width: 356px; height: 657px; background-color: white; border: 5px solid #2a2a2a; border-radius: 45px; margin: auto;">
      <div style="border: 1px solid rgb(236, 236, 236); margin-top: 40px;"></div>
      <div style="background-color: #040204; height: 78%; background-image: url('./../../../assets/images/san.gif');
      background-repeat: no-repeat;    background-size: 100%;    background-position: center;
  ">
        <iframe height="100%" style="border:none;width: 100%;" src="https://appmobile.projects.iagogaldino.dev.br/#/"></iframe>
      </div>
      <div style="text-align: center;">
          <div style="background-color: #b9b9b9; width: 50px; height: 50px; margin: auto; margin-top: 10px;    margin-top: 32px;
          border-radius: 34px;"></div>
      </div>
    </div>

  </div>
</div>
