img {
  width: 100%;
  height: 100%;
  background-color: #383838;
  border-radius: 50% 54% 37%;
  position: relative;
}

.dv1 {
  background-color: var(--bg1);
  height: 300px;
  position: absolute;
  width: 375px;
  border-radius: 42%
}

.dv2 {
  background-color: var(--bg1);
  height: 300px;
  position: absolute;
  width: 300px;
  border-radius: 12% 42%;
  bottom: 34px;
  right: 36px;
}

@media screen and (max-device-width: 480px) {
  .dv1 {
    display: none;
  }

  .dv2 {
    height: 300px;
    position: absolute;
    width: 272px;
    border-radius: 12% 63%;
    bottom: 39px;
    right: 49px;
  }
}


